:root {
  --hero-image: url(../img/background.jpg);
}

body {
  margin: 0;
}

nav {
  display: flex;
  background: linear-gradient(to right, #111, #24252a);
  padding: 20px;
  column-gap: 10px;
  align-items: center;
}

nav span {
  color: white;
  font-family: 'bold';
  font-size: 150%;
}

nav a:first-of-type {
  margin-left: auto;
}

nav a {
  color: white;
  font-family: 'regular';
  text-decoration: none;
}

nav a:hover {
  color: #c5eff7;
}

#hero {
<<<<<<< HEAD
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--hero-image);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  position: relative;
=======
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--hero-image);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10px;
>>>>>>> d601c12a52faa2f0b69f5ba217ded799612fd589
}

#hero-text {
  position: absolute;
<<<<<<< HEAD
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 80%;
  /*border: 5px solid white;*/
  /*padding: 20px;*/
=======
  color: white;
  top: 50%;
  left: 50px;
  transform: translate(0, -50%);
>>>>>>> d601c12a52faa2f0b69f5ba217ded799612fd589
}

#hero-text h1 {
  margin: 0;
  font-family: 'bold';
<<<<<<< HEAD
  font-size: 300%;
=======
  font-size: 500%;
>>>>>>> d601c12a52faa2f0b69f5ba217ded799612fd589
}

#hero-text p {
  font-family: 'regular';
  font-size: 200%;
}

<<<<<<< HEAD
.brand-message {
  display: flex;
  padding: 20px 30px;
}

.brand-message:nth-child(even) {
  background: linear-gradient(to right, #e3ba8f, #fff);
  flex-direction: row-reverse;
}

.brand-message-left {
  width: 70%;
}

.brand-message-left h1 {
  font-family: 'bold';
}

.brand-message-left p {
  font-family: 'regular';
  font-size: 120%;
}

.brand-message-right {
  width: 30%;
  text-align: center;
}

.brand-message-right img {
=======
.slogan {
  padding: 20px 30px;
  display: flex;
}


.slogan h1 {
  font-family: 'bold';
  font-size: 300%;
}

.slogan p {
  font-family: 'regular';
  font-size: 150%;
}

.slogan-left{
  width: 70%;
}

.slogan-right {
  text-align: center;
  width: 30%;
}

.slogan:nth-child(even) {
  flex-direction: row-reverse;
  background: linear-gradient(to right, #f4ede4, #fff);
}

.slogan:nth-child(even) .slogan-left {
  text-align: right;
}

.slogan img {
>>>>>>> d601c12a52faa2f0b69f5ba217ded799612fd589
  width: 50%;
}

#gear {
<<<<<<< HEAD
  animation: rotate 5s infinite linear;
=======
  animation: rotation 5s infinite linear;
>>>>>>> d601c12a52faa2f0b69f5ba217ded799612fd589
}

#chart {
  position: relative;
<<<<<<< HEAD
  left: -100%;
  opacity: 0;
  animation: slideToLeft 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  transition: opacity 3s;
}

.brand-message:hover #chart {
  animation: slideToRight 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
=======
  left: -1000px;
  animation: slideLeft 1s;
  animation-timing-function: ease-out;
  opacity: 0;
  transition: opacity 2s, transform 1s;
}

.slogan:hover #chart {
  animation: slideRight 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
>>>>>>> d601c12a52faa2f0b69f5ba217ded799612fd589
  opacity: 1;
}

#values {
  display: flex;
<<<<<<< HEAD
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#values:hover .value-card {
=======
  align-items: center;
  justify-content: center;
  padding: 30px;
}

#values:hover * {
>>>>>>> d601c12a52faa2f0b69f5ba217ded799612fd589
  animation: none;
}

.value-card {
  width: 20%;
  margin: 0 20px;
  text-align: center;
  padding: 30px;
  border-radius: 50px;
<<<<<<< HEAD
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #fff;
  background-color: #fff;
}

.value-card:nth-child(1) {
=======
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
>>>>>>> d601c12a52faa2f0b69f5ba217ded799612fd589
  animation: shake1 1s infinite linear;
}

.value-card:nth-child(2) {
  animation: shake2 1s infinite linear;
}

.value-card:nth-child(3) {
  animation: shake3 1s infinite linear;
}

<<<<<<< HEAD
=======

>>>>>>> d601c12a52faa2f0b69f5ba217ded799612fd589
.value-card img {
  border-radius: 10px;
  width: 80%;
}

.value-card h1 {
  font-family: 'bold';
}

.value-card p {
  font-family: 'regular';
}

<<<<<<< HEAD
footer {
  background: linear-gradient(to right, #111, #24252a);
  margin-top: 30px;
  padding: 30px 20px;
  display: flex;
  align-items: baseline;
  color: white;
}

#copyright {
  margin-right: 40px;
}

#copyright span {
  font-family: 'bold';
}

#address {
  font-family: 'regular';
}

#address h3 {
  font-family: 'bold';
}

#content {
  padding: 20px;
}

#about-title {
  font-family: 'bold';
}

.about-paragraph {
  font-family: 'regular';
  text-indent: 30px;
  text-align: justify;
  /*line-height: 1.6;*/
}
=======
>>>>>>> d601c12a52faa2f0b69f5ba217ded799612fd589
